header {
	color: white;
	background-color: pink;
	text-align: center;
}

.navbar {
	background-color: blueviolet;
	color: white;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.navbar ul {
	padding: 0;
	margin: 0;
}

.navbar li {margin: 0 100px}

.navbar li a:hover {background-color: gray;}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: darkblue;
	color: white;
	list-style-type: none;
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
	margin: 0;
	padding: 0;
	min-width: 100px;
}

.dropdown-content li a {
	padding: 12px 12px 16px;
}

.dropdown:hover .dropdown-content{
	display: block;
}